

@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Convergence');

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


body, html {
    height: 100%;
    background-color: black;
    font-family: 'Ropa Sans', sans-serif;
    font-size:16px;

}

p{
  font-family: 'Convergence', sans-serif;
}

a{
  font-family: 'Arima Madurai', cursive;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Arima Madurai', cursive;
}
section {
    min-height: 100%;
}


#full{
  min-height:100%;
}

#full_home{
  min-height:100%;
  background-image: url('../images/home_background.jpg');
  background-size: cover;
}

#silent{
  background-image: url('../images/background.jpg');
  min-height:100%;
  padding:10px;
  background-size: cover;
}
#sound{
  min-height: 100%;
  background-image: url('../images/background2.jpg');
  padding:10px;
  background-size: cover;
}

#golden{
  min-height: 100%;
  background-image: url('../images/background3.jpg');
  background-repeat: no-repeat;
  padding:10px;
  background-size: cover;
}

#masala{
  min-height: 100%;
  background-image: url('../images/background5.jpg');
  padding:10px;
  background-size: cover;

}

#modern{
  min-height: 100%;
  background-image: url('../images/background4.jpg');
  padding:10px;
}



.button_nav{
  width:100%;
  height:100%;
  text-align:center;
  color:white;
  margin-top:150px;


}

.button_nav a{
  color:white;
  padding: 30px;
  border-top:dashed 10px white;
  border-bottom:dashed 10px white;
  border-right:black solid 5px;
  border-left: black solid 5px;
  background-color: black;

}

.button_nav a:hover {
    color: gray ;
}

#silentInfo{
  height:auto;
  background-color: rgba(38, 38, 38, 0.7);
  color:white;
  border:dashed 5px white;
  padding:20px;

}

img {
  max-width: 100%;
}

#topcap, #bottomcap {
  position: absolute;
  left: -5px;
  width: 130px;
  height: 10px;
  background: -webkit-linear-gradient(left, rgba(63,63,63,1) 0%,rgba(0,0,0,1) 17%,rgba(86,86,86,1) 39%,rgba(14,14,14,1) 89%,rgba(71,71,71,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(63,63,63,1) 0%,rgba(0,0,0,1) 17%,rgba(86,86,86,1) 39%,rgba(14,14,14,1) 89%,rgba(71,71,71,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(63,63,63,1) 0%,rgba(0,0,0,1) 17%,rgba(86,86,86,1) 39%,rgba(14,14,14,1) 89%,rgba(71,71,71,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(63,63,63,1) 0%,rgba(0,0,0,1) 17%,rgba(86,86,86,1) 39%,rgba(14,14,14,1) 89%,rgba(71,71,71,1) 100%); /* W3C */
}

#bottomcap {
  bottom: 0;
}

#can {
  box-shadow: 8px 0px 10px rgba(0,0,0,0.5);
  position: absolute;
  top: 20px;
  bottom: 50px;
  left: 50px;
  width: 120px;
  height: 230px;
  background: -webkit-linear-gradient(left, rgba(164,97,8,1) 0%,rgba(242,216,67,1) 38%,rgba(223,150,35,1) 80%,rgba(164,97,8,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(164,97,8,1) 0%,rgba(242,216,67,1) 38%,rgba(223,150,35,1) 80%,rgba(164,97,8,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(164,97,8,1) 0%,rgba(242,216,67,1) 38%,rgba(223,150,35,1) 80%,rgba(164,97,8,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(164,97,8,1) 0%,rgba(242,216,67,1) 38%,rgba(223,150,35,1) 80%,rgba(164,97,8,1) 100%); /* W3C */
}

#can #text {
  -webkit-transform: rotate(90deg) translate(60px, 40px);
  -moz-transform: rotate(90deg) translate(60px, 40px);
  transform: rotate(90deg) translate(60px, 40px);
  display: block;
  color: #000;
  font-family: helvetica;
  font-weight: bold;
  text-align: center;
  width: 200px;
}

#can p {
  margin: 0;
}

#can p.gold {
  font-size: 1em;
  line-height: 7em;
}



#film {
  position: absolute;
  top: 35px;
  left: 160px;
  width: 120px;
  overflow: hidden;
  transition: all 1s;
}


#film:hover {
  width: 500px;
}

#film:hover ul {
  -webkit-transform: translatex(0px);
  -moz-transform: translatex(0px);
  transform: translatex(0px);
}

ul {
  -webkit-transform: translatex(-470px);
  -moz-transform: translatex(-470px);
  transform: translatex(-470px);
  transition: all 1s;
  width: 575px;
  height: 166px;
  padding: 0;
  margin: 0;
  list-style: none;
  border-style: solid;
  border-width: 17px 0px;
  -moz-border-image: url(http://i.imgur.com/Sm9CNai.png) 20 repeat stretch;
  -webkit-border-image: url(http://i.imgur.com/Sm9CNai.png) 20 repeat stretch;
  -o-border-image: url(http://i.imgur.com/Sm9CNai.png) 20 repeat stretch;
  border-image: url(http://i.imgur.com/Sm9CNai.png) 20 fill repeat stretch;
}

ul li {
  display: block;
  width: 120px;
  height: 120px;
  margin: 3px 0px 20px 40px;
  background: #000;
  float: left;
}

ul li a {
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.silentRoll ul li:nth-child(1) a {
  background-image: url('../images/pkapoor.jpg');

}

ul li:nth-child(2) a {
  background-image: url('../images/pramathesh.jpg');
}

ul li:nth-child(3) a {
  background-image: url('../images/zubeida.jpg');
}

.silentRoll{
  position:absolute;

}

.silentRoll2{
  position:absolute;

}

.silentRoll2 ul li:nth-child(1) a {
  background-image: url('../images/sulochana.jpg');

}

.silentRoll2 ul li:nth-child(2) a {
  background-image: url('../images/devika.jpg');
}

.silentRoll2 ul li:nth-child(3) a {
  background-image: url('../images/ashok.jpg');
}


.silentRoll3{
  position:absolute;

}

.silentRoll3 ul li:nth-child(1) a {
  background-image: url('../images/dilip.jpg');

}

.silentRoll3 ul li:nth-child(2) a {
  background-image: url('../images/devanad.jpg');
}

.silentRoll3 ul li:nth-child(3) a {
  background-image: url('../images/madhubala.jpg');
}



.silentRoll4{
  position:absolute;

}

.silentRoll4 ul li:nth-child(1) a {
  background-image: url('../images/amitabh.jpg');

}

.silentRoll4 ul li:nth-child(2) a {
  background-image: url('../images/zeenat.jpg');
}

.silentRoll4 ul li:nth-child(3) a {
  background-image: url('../images/rajesh.jpg');
}

.silentRoll5{
  position:absolute;

}

.silentRoll5 ul li:nth-child(1) a {
  background-image: url('../images/shahrukh.jpg');

}

.silentRoll5 ul li:nth-child(2) a {
  background-image: url('../images/madhuri.jpg');
}

.silentRoll5 ul li:nth-child(3) a {
  background-image: url('../images/salman.jpg');
}

#image1{
  position: absolute;
  margin-top:300px;
  margin-left: 100px;
  padding:30px;
  background-color: #000000;
  border:dashed white 3px;
}

#image2{
  position: absolute;
  margin-top:300px;
  margin-left: 100px;
  padding:30px;
  background-color: #000000;
  border:dashed white 3px;
}

#image3{
  position: absolute;
  margin-top:300px;
  margin-left: 100px;
  padding:30px;
  background-color: #000000;
  border:dashed white 3px;
}

#image4{
  position: absolute;
  margin-top:300px;
  margin-left: 100px;
  padding:30px;
  background-color: #000000;
  border:dashed white 3px;
}

#image5{
  position: absolute;
  margin-top:300px;
  margin-left: 100px;
  padding: 30px;
  background-color: #000000;
  border:dashed white 3px;
}

#reel{

display:block;
margin:auto;
margin-top: 30px;
z-index: 1;
-webkit-animation-delay: 1s;
-webkit-animation-iteration-count: 3;
}
